.footer1 {
    margin: 20px;
}

.footer1 ul li {
    margin-top: 15px;
    list-style: none;
    color: gray;
}

.footer1 ul li a {
    text-decoration: none;
    color: gray;
}

.footer2 {
    margin: 20px;
}

.footer2 ul li {
    margin-top: 15px;
    list-style: none;
}

.footer2 ul li a {
    text-decoration: none;
    color: gray;
}

.footer3 {
    margin: 20px;
}
 
.footer3 ul li {
    margin-top: 15px;
    list-style: none;
}

.footer3 ul li a {
    text-decoration: none;
    color: gray;
}

.footer4 {
    margin: 20px;
}

.footer4 ul li {
    margin-top: 15px;
    list-style: none;
}

.footer4 ul li a {
    text-decoration: none;
    color: gray;
}
